<template>
  <div class="main">
  	<Toolbar />
  </div>
</template>

<script>
// @ is an alias to /src
import Toolbar from '@/components/Toolbar.vue'

export default {
  name: 'home',
  components: {
    Toolbar
  }
}
</script>
