<template>
  <div class="toggle" :style="[{
    'border-color': borderColor,
    'border-bottom': '1px solid ' + borderColor,
    'color':         borderColor
  }]">
  	<slot></slot>
  </div>
</template>

<script>
export default {
  name: 'Toggle',
  props: {
    color: String,
  },
  computed: {
    borderColor () {
      if (this.color == "") {
        return "#888"
      } else {
        return this.color
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="sass">
.toggle
  display: flex
  justify-content: center
  align-items: center
  //padding: 0 17px
  min-width: 75px
  flex: 1 0 auto
  //border-top: 1px solid #334
  //border-left: 1px solid #334
  //border-bottom: 1px solid #888
  //border-right: 1px solid #888
  border: 1px solid #445
  border-radius: 7px 0px 7px 0px
  border-radius: 7px
  height: 100%
  font-size: 14px
  font-weight: 600
  user-select: none
  cursor: pointer
  margin-right: 15px
  margin-bottom: 15px

  i
    font-size: 20px
</style>
