<template>
  <div class="toolbar">
  	<div class="flex">
  		<Toggle>Lggr</Toggle>
  		<Toggle>Conf</Toggle>

  		<div class="separator"></div>

  		<Toggle color="#fd0049">
  			<i class="material-icons">fiber_manual_record</i>
  		</Toggle>

  		<Toggle color="#00c500">
  			<i class="material-icons" style="font-size: 24px">play_arrow</i>
  		</Toggle>

  		<Toggle color="#00bad2">
  			<i class="material-icons">loop</i>
  		</Toggle>

  		<Toggle>Interval</Toggle>
  		<Toggle>Tempo</Toggle>

  		<div class="separator"></div>

  		<Toggle>Kit</Toggle>
  		<Toggle>Save</Toggle>
  		<Toggle>Restore</Toggle>
  	</div>
  </div>
</template>

<script>
import Toggle from './Toggle'

export default {
  name: 'Toolbar',
  components: {
  	Toggle,
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="sass">
$toolbar-margin: 16px
$toolbar-height: 37px

.toolbar
	position: fixed
	left:   $toolbar-margin
	top:    $toolbar-margin
	right:  $toolbar-margin
	height: $toolbar-height

	.flex
		width: 100%
		height: 100%
		display: flex
		justify-content: flex-start
		flex-wrap: wrap

		.separator
			margin-left: 5px
			margin-right: 20px
			height: $toolbar-height
			border-right: 1px dashed #669
</style>
