<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
export default {
  name: 'App',
  props: {
    msg: String
  }
};
</script>

<style lang="sass">
@import url('https://fonts.googleapis.com/css?family=Raleway')
@import url('https://fonts.googleapis.com/icon?family=Material+Icons')

html, body, #app
  width: 100vw
  height: 100vh
  margin: 0
  padding: 0

  background: #000
  color: #EEE
  font-family: 'Raleway'
</style>
